<!DOCTYPE html>
<html>
<head>
    <title>About - NYT Lib</title>
    <% include partials/head.ejs %>
    <% include partials/jsdefaults.ejs %>
    <script type="text/javascript" src="javascripts/book_modal.js"></script>
</head>
<body>
    <div class="container">
        <div class="row" id="header">
            <div class="col-md-3">
                <div id="logo"><a href="/"><h1>NYT Lib</h1></a></div>
            </div>
            <div class="col-md-9">
                <div class="inner-addon right-addon">
                    <a id="searchbutton" href="#"><i class="glyphicon glyphicon-search"></i></a>
                    <input valutype="text" class="form-control" id="searchbar" placeholder="Search for books by title, author, ISBN" method="POST">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div id="navigation_float">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/bookshelf" id="nav_bookshelf">Bookshelf</a></li>
                        <li><a href="/">Bestseller Lists</a>
                        <li><a href="/team">Team</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9" id="content_block">
                <div class="col-md-12" style="text-align: center; margin-top: 60px">
                    <video width="700" autoplay="autoplay" loop>
                        <source src="/images/team_gif.mp4" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>

                    <div id="loremipsum">
                        <h3><strong>Lorem Ipsum</strong>: Dolor sit amet, consectetur adipiscing elit.</h3>

                        <div id="text">
                        <p>Fusce in auctor erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut a orci volutpat, accumsan orci a, euismod turpis. Aliquam placerat molestie urna, sed porttitor risus. Pellentesque erat turpis, lacinia vel elit nec, feugiat eleifend tortor. Maecenas sit amet eros vitae purus vulputate sollicitudin ac pellentesque nibh. Phasellus dignissim sed leo non pretium. Aenean consectetur posuere justo id lacinia. Suspendisse mi diam, aliquet non ligula sed, pharetra malesuada orci.</p>

                        <p>Pellentesque congue lorem sit amet augue feugiat, eu condimentum sapien pharetra. Suspendisse eros felis, dictum in tortor non, ornare aliquet ante. Fusce tincidunt velit sit amet felis feugiat lacinia. In hendrerit nibh a risus auctor porttitor. Nunc volutpat felis in risus fringilla, eget malesuada tellus hendrerit. Sed laoreet consectetur interdum. Nulla consectetur diam sit amet libero condimentum iaculis ac nec magna. Phasellus nibh ipsum, euismod ac luctus vel, bibendum quis nulla.</p>

                        <p>Nullam mollis egestas mauris. Donec in massa sed mauris venenatis elementum. Aenean pretium non risus sed suscipit. Donec vehicula felis tellus, a eleifend velit molestie sit amet. Cras dictum lorem tortor. Curabitur tempor mauris ac consectetur venenatis. Vivamus at risus non arcu sodales efficitur et quis nulla. Nunc vel dolor id nisi egestas consequat eu vitae magna. Mauris in lorem quis ligula consequat dignissim. In vitae posuere nibh. Aenean nisi felis, egestas id mi eget, pulvinar venenatis purus. Duis semper libero sit amet vulputate bibendum. Duis quis lorem quis risus suscipit auctor vitae nec mi. Sed ultrices, nisi in vestibulum vulputate, turpis risus aliquet orci, ac condimentum libero augue eget massa.</p>

                        <p>Nulla cursus, magna vitae facilisis tempus, ipsum eros lacinia felis, sit amet hendrerit quam diam nec mi. Etiam facilisis mauris libero, et vestibulum erat feugiat a. Suspendisse potenti. Aliquam sem quam, maximus ut ex et, malesuada condimentum magna. Cras ac augue vehicula enim consequat faucibus. Mauris elementum pellentesque volutpat. In finibus nisi orci, et hendrerit massa dapibus ac. Mauris a convallis ipsum, vel fringilla tellus.</p>

                        <p>Sed orci felis, vulputate a nisi et, fermentum scelerisque erat. Mauris ligula nisi, finibus nec consequat sit amet, ornare blandit velit. Sed nisl ligula, efficitur vitae maximus eu, facilisis mattis augue. Fusce arcu metus, tincidunt a ornare quis, placerat vel purus. Maecenas orci orci, tempus nec hendrerit vel, tincidunt id ipsum. Duis ligula nisi, tempus non luctus placerat, pellentesque vitae quam. Suspendisse mattis risus vitae libero posuere tincidunt. Donec laoreet sit amet sem ac dictum. Duis nunc arcu, euismod vel libero a, facilisis maximus metus. Cras vitae nulla metus. Curabitur gravida vehicula porttitor. Nulla eu arcu nunc. Donec viverra hendrerit enim, eu suscipit elit vestibulum elementum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-container" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="clearModalContent();">×</button>
                    <center>
                        <h4 class="modal-title" id="myModalLabel">
                            New York Times Review
                        </h4>
                    </center>
                </div>
                <div class="modal-body">
                    <div id="my_modal_contents">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
