<!DOCTYPE html>
<html>
<head>
    <title>Bestsellers</title>
    <% include partials/head.ejs %>
    <% include partials/jsdefaults.ejs %>
    <script type="text/javascript" src="javascripts/book_modal.js"></script>
</head>
<body>
 
</body>
</html>
