<!DOCTYPE html>
<html>
<head>
    <title>Bookshelf - NYT Lib</title>
    <% include partials/head.ejs %>
    <% include partials/jsdefaults.ejs %>
    <script type="text/javascript" src="javascripts/book_modal.js"></script>
</head>
<body>
    <div class="container">
        <div class="row" id="header">
            <div class="col-md-3">
                <div id="logo"><h1>NYT Lib</h1></div>
            </div>
            <div class="col-md-9">
                <div class="inner-addon right-addon">
                    <a id="searchbutton" href="#"><i class="glyphicon glyphicon-search"></i></a>
                    <input valutype="text" class="form-control" id="searchbar" placeholder="Search for books by title, author, ISBN" method="POST">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div id="navigation_float">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/bookshelf" id="nav_bookshelf">Bookshelf</a></li>
                        <li><a href="/">Bestseller Lists</a>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9" id="content_block">
                <script>
                    $(document).ready(function() {
                        $.page_bookshelf();
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-container" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="clearModalContent();">×</button>
                    <center>
                        <h4 class="modal-title" id="myModalLabel">
                            New York Times Review
                        </h4>
                    </center>
                </div>
                <div class="modal-body">
                    <div id="my_modal_contents">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
