<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <%- include partials/head.ejs %>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <h1>NYT Lib</h1>
        </div>
        <div class="col-md-3">

            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Bookshelf</a></li>
                <li><a href="#">Combined Fiction</a></li>
                <li><a href="#">Combined Nonfiction</a></li>
            </ul>

        </div>
        <div class="col-md-9">

            <p>Welcome to <%= title %></p>

        </div>
    </div>
</body>
</html>
