body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.book {
    display: inline;
}

.book img {
    max-height: 128px;
}

#navigation_float {
    position: fixed;
}

#searchbar {
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
}