body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.container {
    width: 1140px;
}

#logo {
    height: 55px;
}
#logo a h1 {
    position: fixed;
    font-weight: bold;
    color: black;
}

#header {
    padding-top: 50px;
    background-color: white;
}

a {
  color: #00B7FF;
}

.book {
    display: inline;
}

#navigation_float {
    position: fixed;
    margin-top: 15px;
}

#searchbar {
    font-size: 18px;
    margin-top: 21px;
	border-radius: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none;
}

.nav-pills.nav-stacked ul {
    padding-left: 5px;
    margin: 10px;
    margin-right: 0px;
    border-left: 2px solid #eee;
}

.nav-pills.nav-stacked ul li {
    list-style: none;
}

.nav-pills.nav-stacked ul li a {
    padding: 5px;
    display: block;
    border-radius: 3px;
    margin: 2px;
    font-size: 11px;
}

.nav-pills.nav-stacked ul li a:hover {
    background-color: #eee;
    text-decoration: none;
}

.inner-addon {
    position: relative;
}
.inner-addon #searchbutton {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 10px;
  right: 0px;
}

.right-addon #searchbutton {
	right: 0px;
}

.right-addon input {
	padding-right: 30px;
}



.book .thumbnail {
    height: 350px;
    background-size: 100% 100%;
    border-color: rgba(0, 0, 0, 0.2);
}

.book h4 {
    font-weight: bold;
    margin-bottom: 0px;
}

.book h5 {
    font-style: italic;
    margin-top: 0px;
}

.book p {
    line-height: 1.1em;
    color: #666;
}

.book .thumbnail .caption {
    display: none;
}

.book .thumbnail:hover .caption {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
    outline: 1px solid black;
    outline-color: rgba(0, 0, 0, 0.4);
    display: block;
    position: absolute;
    bottom: 21px;
    left: 16px;
    right: 16px;
}

.rank_change_up {
    float: right;
    color: green;
}

.rank_change_down {
    float: right;
    color: red;
}

.rank {
    float: right;
}
